/* DiscountedProducts.module.css */
.productsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.productCard {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 1rem;
}

.productImageContainer {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productImage {
  max-width: 100%;
  max-height: 150px;
}

.productInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.productInfo h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  text-align: center;
}

h1 {
  text-align: center;
}