.navbar {
  background-color: #f8f9fa;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  flex-wrap: wrap;
}

.navbar a {
  margin: 10px 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }


  .searchBar {
    width: 100%;
    box-sizing: border-box;
    padding-right: 50px; /* Adjust based on the size of your button */
  }
}

.searchContainer {
  top: 10px;
  position: relative;
  display: inline-block;
  width: 200px;
}

.searchBar {
  width: 200px; 
  box-sizing: border-box;
  padding-right: 50px; /* Adjust based on the size of your button */
}

.searchButton {
  position: absolute;
  height: 22px;
  right: 0;
  top: 0;
  bottom: 0;
  width: 35px; /* Adjust based on your design */
  background: #007BFF; /* Typical blue color */
  border: none;
  cursor: pointer;
  text-align: center;
  color: white;
  font-size: 1.2em;
  border-radius: 0 5px 5px 0; /* Rounded corners on the right side */
}