.navbar {
  background-color: #f8f9fa;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  margin: 10px 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}


.searchBar {
  flex-grow: 1;
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }

  .searchBar {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
  }
}